<div id="contentWrapper">
    <mat-list>
        <h2>Meine Bestellungen</h2>
        <mat-list-item class="listBox" *ngFor="let order of orderList">
            <div id="orderWrapper">
                <div id="orderInfo">
                    <div id="orderDate">Bestellt: {{order.orderDate}}</div>
                    <div id="totalPrice">Summe: {{order.totalPrice | number:'':'de-DE'}}€</div>
                </div>
                <div id="productInfo">
                    <img id="itemImg" [src]="order.imagePath" alt="Placeholder">
                    <div class="containerItem">
                        <div id="itemName"> {{order.name}}</div>
                        <div id="itemPrice"> Einzelpreis: {{order.price | number:'':'de-DE'}}€</div>
                        <div id="amount"> Menge: {{order.amount}}</div>
                    </div>
                </div>
            </div>
        </mat-list-item>
    </mat-list>
</div>