h2 {
    background: linear-gradient(to bottom, #BF953F, #FCF6BA, #B38728, #FBF5B7); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Exo', sans-serif;
}

mat-list {
    max-width: 1000px;
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

mat-list-item {
    height: auto !important;
    margin: 10px 0 10px 0;
    box-shadow: 0px 0px 5px rgb(124, 94, 18);
}
mat-list-item:hover {
    background-color: rgba(255,255,255,0.05);
}

:host /deep/ .mat-list-item-content {
    padding: 0!important;
}

.list-box{
    height: auto !important;
    color: blanchedalmond;
}

#item-img {
    width: 150px;
}

.container-item {
    margin-left: 10px;
    overflow: hidden;
}

#item-name {
    font-size: 23px;
    font-family: 'Courgette', cursive;
    background: linear-gradient(to bottom, #cfc09f 27%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 87%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 10px;
}

#item-price {
    margin-bottom: 10px;
}

#total-price {
    padding-left: 5px;
    float: right;
}

#order-date {
    padding-right: 5px;
    float: left;
}

#order-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background-color: rgba(255,255,255,0.05);
}

#product-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px
}

@media (max-width:500px){
    #item-img {
        width: 100px;
    }
    #item-price {
        margin-bottom: 0;
    }
}

#order-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}