<div id="contentWrapper">
    <mat-list>
        <h2>Meine Bestellungen</h2>
        <mat-list-item class="list-box" *ngFor="let order of orderList">
            <div id="order-wrapper">
                <div id="order-info">
                    <div id="order-date">Bestellt: {{displayDate(order.orderDate)}}</div>
                    <div id="total-price">Summe: {{order.totalPrice | number:'':'de-DE'}}€</div>
                </div>
                <div id="product-info">
                    <img id="item-img" [src]="order.imagePath" alt="Placeholder">
                    <div class="container-item">
                        <div id="item-name"> {{order.name}}</div>
                        <div id="item-price"> Einzelpreis: {{order.price | number:'':'de-DE'}}€</div>
                        <div id="amount"> Menge: {{order.amount}}</div>
                    </div>
                </div>
            </div>
        </mat-list-item>
    </mat-list>
</div>