<div id="wrapper">
    <div class="btnPanels">
        <mat-divider></mat-divider>
    </div>
    <div class="btnPanels">
        <div class="borderDiv">
            <button class="functionBtn" routerLink="/Admin/Kontoliste" mat-stroked-button><p class="btnText">Kundenliste</p></button>
        </div>
    </div>
    <div class="btnPanels">
        <mat-divider></mat-divider>
    </div>
    <div class="btnPanels">
        <div class="borderDiv">
            <button class="functionBtn" routerLink="/Admin/Bestellungen" mat-stroked-button><p class="btnText">Bestellungen</p></button>
        </div>
    </div>
    <div class="btnPanels">
        <mat-divider></mat-divider>
    </div>
</div>

