<div id="wrapper">
    <div class="btn-panels">
        <mat-divider></mat-divider>
    </div>
    <div class="btn-panels">
        <div class="border-div">
            <button class="function-btn" routerLink="/Admin/Kontoliste" mat-stroked-button><p class="btn-text">Kundenliste</p></button>
        </div>
    </div>
    <div class="btn-panels">
        <mat-divider></mat-divider>
    </div>
    <div class="btn-panels">
        <div class="border-div">
            <button class="function-btn" routerLink="/Admin/Bestellungen" mat-stroked-button><p class="btn-text">Bestellungen</p></button>
        </div>
    </div>
    <div class="btn-panels">
        <mat-divider></mat-divider>
    </div>
</div>

