@media (min-width:1000px) {
    #item-quantity .material-icons {
        display: none;
    }

    input {
        border: 1px solid transparent;
        border-radius: 1px;
        text-align: center;
        font-size: 20px;
        width: 40px;
        color: blanchedalmond;
        background-color: transparent;
    }

    #spacer {
        margin-left: 60px;
        margin-right: 60px;
    }
}

@media (max-width:1000px) {
    :host /deep/ .mat-list-item-content {
        padding: 0!important;
      }

    #item-desc {
        display: none;
    }

    #item-quantity .material-icons {
        border: 1px solid transparent;
        border-radius: 2px;
    }
    input {
    border: 1px solid transparent;
    border-radius: 1px;
    text-align: center;
    width: 25px;
    font-size: 20px;
    color: blanchedalmond;
    background-color: transparent;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        /* display: none; <- Crashes Chrome on hover */
        -webkit-appearance: none;
        margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
    }

    input[type=number] {
        -moz-appearance:textfield; /* Firefox */
    }
}

:host /deep/ .mat-list-item :hover {
    background-color: rgb(41, 41, 41);
    box-shadow: 0 0 2px 1px rgb(25, 25, 25) inset;
  }

:host /deep/ .mat-list-item-content :hover {
    box-shadow: none;
}

#cart-title {
    font-family: 'Courgette', cursive;
    font-size: 26px;
    background: linear-gradient(to bottom, #cfc09f 27%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 87%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.list-box{
    height: 140px !important;
    color: blanchedalmond;
}

#item-img {
    height: 90%;
}

.container-item {
    margin-left: 10px;
}

#item-name {
    font-size: 23px;
    font-family: 'Courgette', cursive;
    background: linear-gradient(to bottom, #cfc09f 27%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 87%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#removeIcon {
    position: absolute;
    top: 2px;
    right: 2px;
    padding: 3px;
    color: blanchedalmond;
}

#removeIcon:hover {
    color: crimson;
    cursor: pointer;
}

#item-price {
    font-family: 'Courgette', cursive;
    padding-top: 4px;
    font-size: 20px;
    background: linear-gradient(to bottom, #cfc09f 26%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 87%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#totalPriceText{
    margin-bottom: 5px;
    color: blanchedalmond;
}

#totalPrice {
    font-family: 'Courgette', cursive;
    font-size: 42px;
    background: linear-gradient(to bottom, #cfc09f 26%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 87%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#buyBtn {
    border: 1px ridge goldenrod;
    background: radial-gradient(ellipse farthest-corner at right bottom, #FEDB37 0%, #FDB931 8%, #9f7928 30%, #8A6E2F 40%, transparent 80%),
                radial-gradient(ellipse farthest-corner at left top, #FFFFFF 0%, #FFFFAC 8%, #D1B464 25%, #5d4a1f 62.5%, #5d4a1f 100%);
    color: blanchedalmond;
}


#item-quantity .material-icons:hover {
    cursor: pointer;
    border: 1px solid gray;
    background-color: rgb(45, 45, 45);
}

#number-quantity {
    font-size: 20px;
    vertical-align: middle;
}

input:hover {
    cursor: pointer;
    border: 1px solid gray;
}