<div id="spacer">
    <mat-list>
        <h1 id="cart-title" mat-subheader>Warenkorb</h1>
        <mat-list-item class="list-box" *ngFor="let item of shopping_cart; let i = index" [attr.data-index]="i" >
            <i class="material-icons" id="removeIcon" (click)="removeItem(i)"> clear </i>
            <img id="item-img" [src]="item.item.imagePath" alt="Kamel Placeholder">
            <div class="container-item"
                fxLayout="column"
                fxLayout.xs="column"
                fxLayoutAlign
                fxLayoutGap="10px"
                fxLayoutGap.xs="0">
                <div id="item-name" fxFlex="20%"> {{ item.item.name}}</div>
                <div id="item-desc" fxFlex="50%"> {{item.item.desc}}</div>
                <div id="price_quantity" fxFlex="30%"
                    fxLayout
                    fxLayout.xs="column"
                    fxLayoutAlign="start"
                    fxLayoutGap="10px"
                    fxLayoutGap.xs="0">
                    <div id="item-price"> {{ item.item.price }}€</div>
                    <div id="item-quantity">
                        <i class="material-icons" (click)="quantityMinus(i)">remove</i>
                        <input id="inputField" #input type="number" min="1" name="fname" value={{item.quantity}} (focusout)="submitQuantity(input.value,i)" >
                        <i class="material-icons" (click)="quantityPlus(i)"> add </i>
                    </div>
                </div>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>
    <div id="checkout-area">
        <p id="totalPriceText"> Total: </p>
        <div id="totalPrice">{{ totalPrice }}</div>
        <div 
        fxLayout
        fxLayout.xs="column"
        fxLayoutAlign
        fxLayoutGap="10px"
        fxLayoutGap.xs="5px" >
            <button id="buyBtn" mat-raised-button (click)="createOrder()">Jetzt Kaufen</button>
            <button id="buyBtn" (click)="moneyMaker()" mat-flat-button>Ich bin doch kein Straßenpenner</button>
        </div>
    </div>
    
</div>
