<div id="contentWrapper">
    <h1>Produkt bearbeiten</h1>
    <h2>Produkt bearbeiten</h2>
    <form [formGroup]="myForm">
        <mat-form-field id="name">
            <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field id="category">
            <mat-select placeholder="Kategorie" name="category" formControlName="category">
                <mat-optgroup *ngFor="let group of categoryGroups" [label]="group.name">
                    <mat-option *ngFor="let category of group.categories" [value]="category">
                        {{category}}
                    </mat-option>
                </mat-optgroup>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput placeholder="Beschreibung" name="desc" formControlName="desc" rows="5"></textarea>
        </mat-form-field>
        <mat-form-field id="price">
            <input placeholder="Preis" name="price" type="number" min="0" matInput formControlName="price">
            <span matSuffix>€</span>
        </mat-form-field>
        <mat-form-field id="onStock">
            <input placeholder="Auf Lager" name="onStock" type="number" min="0" matInput formControlName="onStock">
        </mat-form-field>
        <div>
                <img id="image" [src]="imagePath" />
                <div>
                    <input type="file" accept="image/png, image/jpg, image/jpeg" (change)="selectFile($event)"/>
                </div>
            </div>
        <div style="margin-top: 10px;">
            <button id="cancelBtn" (click)="cancel()" mat-raised-button >Abbrechen</button>
            <button [disabled]="valuesUnchanged() || myForm.invalid" id="saveBtn" (click)="save()" mat-raised-button >Speichern</button>
        </div>
    </form>
    
</div>