<div id="globalwrapper">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
  <div id="upperToolbar">
    <img id="logo"
      alt="Bonzenshop Logo"
      src="../assets/Logo.svg"
      (click)="goToHome()"
    />
    <div id="btnPanel">
      <div id="login" *ngIf="!this.authenticationService.isLoggedIn() && !loading">
        <form *ngIf="showLogin" (keyup.enter)="login()">
            <input type="text" placeholder="E-Mail" [(ngModel)]="email" name="email"/>
            <input type="password" placeholder="Passwort" [(ngModel)]="password" name="password"/>
        </form>
        <button mat-button *ngIf="!showLogin" (click)="showLogin = true;">Login</button>
        <button mat-icon-button *ngIf="showLogin" (click)="showLogin = false;">
          <mat-icon>close</mat-icon>
        </button>
      </div>
      <div id="logout" *ngIf="this.authenticationService.isLoggedIn() && !loading">
          <button mat-button (click)="logout(); showLogin = false;">Logout</button>
      </div>
      <div id="loading" *ngIf="loading">
          <img src="../assets/loading_spinner.svg"/>
      </div>
    <a id="cart-center" routerLink="/Warenkorb" >
        <i class="material-icons">
          shopping_cart
        </i>
      </a>
      <a *ngIf="this.authenticationService.isAdmin()" id="adminBtn" routerLink="/Admin" >
        <i class="material-icons">
          supervised_user_circle
        </i>
      </a>
    </div>
  </div>
  <div id="lowerToolbar">
    <ul id="navbar">
      <li> 
        <div class="dropdown">
          <button class="dropbtn">Transport</button>
          <div class="dropdown-content">
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Tiere'}">Tiere</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Flugzeuge'}">Flugzeuge</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Autos'}">Autos</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Yachten'}">Yachten</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Sänften'}">Sänften</a>
          </div>
        </div> 
      </li>
      <li> 
        <div class="dropdown">
          <button class="dropbtn">Immobilien</button>
          <div class="dropdown-content">
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Bezirke'}">Bezirke</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Monumente'}">Monumente</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Villen'}">Villen</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Straßen'}">Straßen</a>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <button class="dropbtn">Kleidung</button>
          <div class="dropdown-content">
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Accessoires'}">Accessoires</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Iced out'}">Iced out</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Klunker'}">Klunker</a>
          </div>
        </div>
      </li>
      <li> 
        <div class="dropdown">
          <button class="dropbtn">Sonstiges</button>
          <div class="dropdown-content">
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Untertanen'}">Untertanen</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Gold'}">Gold</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Edelsteine'}">Edelsteine</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Haustiere'}">Haustiere</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Schnee'}">Schnee</a>
          </div> 
        </div>
      </li>
    </ul>
  </div>
</div>
  <div id=mock-toolbar></div>
  <div id=content-section>
    <router-outlet></router-outlet>
  </div>
</div>
