<mat-sidenav-container class="sidenav-container" (backdropClick)="sidenav.close">
  <!--SIDENAV-->
  <mat-sidenav #sidenav (keydown.escape)="sidenav.close()">
    <div *ngIf="this.authenticationService.hasAdminRights()">
      <p style="text-align: center;"><button mat-button routerLink="/Admin" (click)="sidenav.close()">Admin Menü</button></p>
    <mat-divider></mat-divider>
    </div>
    
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" routerLink="/Produkte" [queryParams]="{Kategorie: node.name}" (click)="sidenav.close()" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <button mat-icon-button disabled></button>
        {{node.name}}
      </mat-tree-node>
      <!-- This is the tree node template for expandable nodes -->
      <mat-tree-node *matTreeNodeDef="let node;when: hasChild" routerLink="/Produkte" [queryParams]="{Kategorie: node.name}" (click)="sidenav.close()" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle
                [attr.aria-label]="'toggle ' + node.name">
          <mat-icon class="mat-icon-rtl-mirror sidenavIcon">
            {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
          </mat-icon>
        </button>
        {{node.name}}
      </mat-tree-node>
    </mat-tree>
  </mat-sidenav>
  <!--SIDENAV-->
  <mat-sidenav-content>
    <div id="global-wrapper">  
      <!-- Toolbar -->
      <div class="toolbar" role="banner">
      <div id="upper-toolbar">
        <img id="logo-desktop"
          alt="Bonzenshop Logo"
          src="../assets/Logo.svg"
          (click)="goToHome()"
        />
        <img
        id="logo-mobile"
        src="../assets/Diamond_Logo.svg" 
        alt="mobile logo"
        (click)="goToHome()"/>
        <!-- btn-panel-right--------------------->
        <div id="btn-panel-right">
          <!--cart-->
          <a id="cart-center" routerLink="/Warenkorb">
            <h1 style="margin: 0; position: absolute; top: 9px; right: 11px;" matBadge="{{shoppingCartService.getCart().length}}" [matBadgeHidden]="shoppingCartService.getCart().length == 0" matBadgeSize="small" matBadgePosition="below after" matBadgeColor="warn"></h1>
            <i class="material-icons navbar">
              shopping_cart
            </i>
          </a>
          <!--user-->
          <div class="dropdown" id="dropdown-user">
            <i class="material-icons navbar">
              account_circle
            </i>
            <div *ngIf="this.authenticationService.isLoggedIn()" class="dropdown-content">
              <a routerLink="/Konto">Kontoinformationen</a>
              <a routerLink="/Bestellungen">Bestellungen</a>
              <a (click)="logout()" style="cursor:pointer">Logout</a>
            </div>
            <div *ngIf="!this.authenticationService.isLoggedIn()" class="dropdown-content">
            <a routerLink="/Registrierung">Registrieren</a>
                <a *ngIf="!this.router.url.startsWith('/Login')" routerLink="/Login" [queryParams]="{ReturnURL: this.router.url}">Login</a>
            </div>
          </div> 
        </div>
        <!--btn-panel-left------------------------>
        <div id="btn-panel-left">
          <a id="mobile-menu" (click)="sidenav.open()" >
            <i class="material-icons navbar">
              view_headline
            </i>
          </a>
          <a *ngIf="this.authenticationService.hasEmployeeRights()" id="admin-btn" routerLink="/Admin" >
            <i class="material-icons navbar">
              supervised_user_circle
            </i>
          </a>
          
        </div>
        <!--LeftEnd-->
      </div>
      
      <div id="lower-toolbar">
        <ul id="navbar">
          <li> 
            <div class="dropdown">
          <button routerLink="/Produkte" [queryParams]="{Kategorie: 'Transport'}" class="drop-btn"><span class="navbar-cat-text">Transport</span></button>
              <div class="dropdown-content">
                <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Tiere'}"><span class="navbar-cat-text">Tiere</span></a>
                <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Flugzeuge'}"><span class="navbar-cat-text">Flugzeuge</span></a>
                <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Autos'}"><span class="navbar-cat-text">Autos</span></a>
                <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Yachten'}"><span class="navbar-cat-text">Yachten</span></a>
                <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Sonstige Transportmittel'}"><span class="navbar-cat-text">Sonstige Transportmittel</span></a>
              </div>
            </div> 
          </li>
          <li> 
            <div class="dropdown">
          <button routerLink="/Produkte" [queryParams]="{Kategorie: 'Immobilien'}" class="drop-btn"><span class="navbar-cat-text">Immobilien</span></button>
              <div class="dropdown-content">
                <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Residenzen'}"><span class="navbar-cat-text">Residenzen</span></a>
                <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Monumente'}"><span class="navbar-cat-text">Monumente</span></a>
                <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Straßen'}"><span class="navbar-cat-text">Straßen</span></a>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
          <button routerLink="/Produkte" [queryParams]="{Kategorie: 'Accessoires'}" class="drop-btn"><span class="navbar-cat-text">Accessoires</span></button>
              <div class="dropdown-content">
                <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Uhren'}"><span class="navbar-cat-text">Uhren</span></a>
                <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Ketten'}"><span class="navbar-cat-text">Ketten</span></a>
                <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Ringe'}"><span class="navbar-cat-text">Ringe</span></a>
              </div>
            </div>
          </li>
          <li> 
            <div class="dropdown">
          <button routerLink="/Produkte" [queryParams]="{Kategorie: 'Sonstiges'}" class="drop-btn"><span class="navbar-cat-text">Sonstiges</span></button>
              <div class="dropdown-content">
                <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Edelsteine'}"><span class="navbar-cat-text">Edelsteine</span></a>
                <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Gold'}"><span class="navbar-cat-text">Gold</span></a>
                <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Haustiere'}"><span class="navbar-cat-text">Haustiere</span></a>
                <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Untertanen'}"><span class="navbar-cat-text">Untertanen</span></a>
              </div> 
            </div>
          </li>
        </ul>
      </div>
    </div>
      <div id=mock-toolbar></div>
      <div id=content-section>
        <!--<div id="topBackgroundImage"></div>-->
        <router-outlet></router-outlet>
      </div>
    <div id="loading-spinner" *ngIf="apiService.loading">
    <img src="../assets/loading-gif.gif" />
      </div>  
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
