<div id="globalwrapper">
  <!-- Toolbar -->
  <div class="toolbar" role="banner">
  <div id="upperToolbar">
    <img id="logo"
      alt="Bonzenshop Logo"
      src="../assets/Logo.svg"
      (click)="goToHome()"
    />
    <!-- BtnPanelRight--------------------->
    <div id="btnPanelRight">
      <!--login-->
      <div id="login" *ngIf="!this.authenticationService.isLoggedIn()">
        <button mat-button *ngIf="!this.router.url.startsWith('/Login')" routerLink="/Login" [queryParams]="{ReturnURL: this.router.url}">Login</button>
      </div>
      <div id="logout" *ngIf="this.authenticationService.isLoggedIn()">
          <button mat-button (click)="logout(); showLogin = false;">Logout</button>
      </div>
      <!--cart-->
      <a id="cart-center" routerLink="/Warenkorb" >
        <i class="material-icons">
          shopping_cart
        </i>
      </a>
      <!--user-->
      <div class="dropdown" id="dropdownUser">
        <i class="material-icons">
          account_circle
        </i>
        <div *ngIf="this.authenticationService.isLoggedIn()" class="dropdown-content">
          <a routerLink="/Konto">Kontoinformationen</a>
          <a routerLink="/Bestellungen">Bestellungen</a>
        </div>
        <div *ngIf="!this.authenticationService.isLoggedIn()" class="dropdown-content">
            <a routerLink="/Registrierung">Registrieren</a>
        </div>
      </div> 
    </div>
    <!--BtnPanelLeft------------------------>
    <div id="btnPanelLeft">
        <a *ngIf="this.authenticationService.hasEmployeeRights()" id="adminBtn" routerLink="/Admin" >
          <i class="material-icons">
            supervised_user_circle
          </i>
        </a>
    </div>
  </div>
  <div id="lowerToolbar">
    <ul id="navbar">
      <li> 
        <div class="dropdown">
          <button routerLink="/Produkte" [queryParams]="{Kategorie: 'Transport'}" class="dropbtn">Transport</button>
          <div class="dropdown-content">
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Tiere'}">Tiere</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Flugzeuge'}">Flugzeuge</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Autos'}">Autos</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Yachten'}">Yachten</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Sonstige Transportmittel'}">Sonstige Transportmittel</a>
          </div>
        </div> 
      </li>
      <li> 
        <div class="dropdown">
          <button routerLink="/Produkte" [queryParams]="{Kategorie: 'Immobilien'}" class="dropbtn">Immobilien</button>
          <div class="dropdown-content">
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Residenzen'}">Residenzen</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Monumente'}">Monumente</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Straßen'}">Straßen</a>
          </div>
        </div>
      </li>
      <li>
        <div class="dropdown">
          <button routerLink="/Produkte" [queryParams]="{Kategorie: 'Accessoires'}" class="dropbtn">Accessoires</button>
          <div class="dropdown-content">
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Uhren'}">Uhren</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Ketten'}">Ketten</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Ringe'}">Ringe</a>
          </div>
        </div>
      </li>
      <li> 
        <div class="dropdown">
          <button routerLink="/Produkte" [queryParams]="{Kategorie: 'Sonstiges'}" class="dropbtn">Sonstiges</button>
          <div class="dropdown-content">
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Edelsteine'}">Edelsteine</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Gold'}">Gold</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Haustiere'}">Haustiere</a>
            <a routerLink="/Produkte" [queryParams]="{Kategorie: 'Untertanen'}">Untertanen</a>
          </div> 
        </div>
      </li>
    </ul>
  </div>
</div>
  <div id=mock-toolbar></div>
  <div id=content-section>
    <router-outlet></router-outlet>
  </div>
</div>
