h2 {
    background: linear-gradient(to bottom, #BF953F, #FCF6BA, #B38728, #FBF5B7); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Exo', sans-serif;
}

#productListTopBar {
    margin: 0 10px 0 10px;
}

#listTitle {
    display: inline-block;
    margin-bottom: 0;
}

mat-nav-list {
    margin: 10px;
}

.mat-list-item {
    height: auto;
    margin: 10px 0 10px 0;
    box-shadow: 0px 0px 5px rgb(124, 94, 18);
}

#addButton {
    display: flex;
    padding: 2px;
    float: right;
    background: rgb(25,25,25);
    border: 2px solid rgb(211, 179, 75);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
}

#addButton:hover {
    background-color: rgb(41, 41, 41);
}

#addButton > i {
    color: rgb(211, 179, 75);
}

#categories {
    display: inline-block;
    margin-left: 20px;
}

#category {
    display: inline-block;
    color: dimgray;
    padding: 3px 5px 3px 5px;
    border: 1px solid dimgray;
    border-radius: 15px;
    margin-left: 5px;
}

#removeBtn {
    background-color: transparent;
    border: transparent;
    color: dimgray;
    outline: none;
}

#removeBtn:hover {
    color: antiquewhite;
    cursor: pointer;
}