h2 {
    background: linear-gradient(to bottom, #BF953F, #FCF6BA, #B38728, #FBF5B7); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Exo', sans-serif;
}

#header {
    margin: 0 10px 0 10px;
    position: relative;
}

#list-title {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 20px;
}

#add-button {
    display: flex;
    padding: 2px;
    background: rgb(25,25,25);
    border: 2px solid rgb(211, 179, 75);
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

#add-button:hover {
    background-color: rgb(41, 41, 41);
}

#add-button > i {
    color: rgb(211, 179, 75);
}

#categories {
    margin-right: 40px;
    display: inline-block;
}

#category {
    font-size: 14px;
    display: inline-block;
    color: dimgray;
    padding: 3px 5px 3px 5px;
    border: 1px solid dimgray;
    border-radius: 15px;
    margin: 2px 0 2px 5px;
}

#category:hover {
    background-color: rgb(41, 41, 41);
}

#remove-btn {
    background-color: transparent;
    border: transparent;
    color: dimgray;
    outline: none;
}

#remove-btn:hover {
    color: blanchedalmond;
    cursor: pointer;
}

#search-input {
    border-radius: 10px;
    padding: 2px 5px;
    background: transparent;
    border: 1px solid rgb(211, 179, 75);
    color: rgb(211, 179, 75);
    margin-left: 2px;
    outline: none;
    font-size: 14px;
    margin-bottom:2px;
    margin-right: 40px;
}
#search-input:-webkit-autofill,
#search-input:-webkit-autofill:hover, 
#search-input:-webkit-autofill:focus, 
#search-input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px rgb(25, 25, 25) inset !important;
    -webkit-text-fill-color: rgb(211, 179, 75) !important;
}
#search-input::-webkit-search-cancel-button{
    /*-webkit-appearance: none;*/
}
#search-input::-webkit-search-cancel-button:hover{
    cursor: pointer;
}

#product-list-container {
    margin-top: 10px;
}

.product-container {
    display: inline-block;
    width: 16.6%;
    padding: 10px;
    vertical-align: middle;
}

.productContent {
    width: 100%;
    cursor: pointer;
    padding: 5px;
    box-shadow: 0px 0px 5px rgb(124, 94, 18);
    outline: none;
}

.productContent:hover {
    background-color: rgb(41, 41, 41);
}

.product-container:hover {
    padding: 0;
}

.product-image {
    width: 100%;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
}

.product-title {
    margin: 5px 0 20px 0;
    text-align: center;
    overflow: hidden; 
    white-space:nowrap; 
    text-overflow: ellipsis;
}

.product-price {
    margin: 5px 0 5px 0;
    text-align: center;
}

@media(max-width:1250px){
    .product-container {
        width: 20%;
    }
}

@media(max-width:1000px){
    .product-container {
        width: 25%;
    }
}

@media(max-width:750px){
    .product-container {
        width: 33.3%;
    }
}

@media(max-width:600px){
    .product-container {
        width: 50%;
    }
}