<div id="contentWrapper">
    <div id="header">
        <h2 id="list-title">Produkte</h2>
        <input id="search-input" type="search" placeholder="Suche" [(ngModel)]="searchText">
        <div id="categories">
            <div id="category" *ngFor="let cat of categories; let i = index">
                {{cat}}
                <button (click)="categories.splice(i,1)" id="remove-btn">X</button>
            </div>
        </div>
        <button *ngIf="this.authService.hasEmployeeRights()" id="add-button" routerLink="/Admin/Produkt/Neu">
            <i class="material-icons">
                add
            </i>
        </button>
    </div>
    
    <div id="product-list-container">
        <div class="product-container" *ngFor="let item of productList | itemCategory:categories | itemSearch:searchText">
            <div class="productContent" routerLink="/Produkt/{{item.name}}">
                <img class="product-image" [src]="item.imagePath" alt="Das Bild konnte nicht geladen werden">
                <h4 [title]="item.name" class="product-title">{{item.name}}</h4>
                <p class="product-price">{{item.price | number:'':'de-DE'}}€</p>
            </div>
        </div>
    </div>
</div>