<div id="contentWrapper">
    <div id="header">
        <h2 id="listTitle">Produkte</h2>
        <input id="searchInput" type="search" placeholder="Suche" [(ngModel)]="searchText">
        <div id="categories">
            <div id="category" *ngFor="let cat of categories; let i = index">
                {{cat}}
                <button (click)="categories.splice(i,1)" id="removeBtn">X</button>
            </div>
        </div>
        <button *ngIf="this.authService.hasEmployeeRights()" id="addButton" routerLink="/Admin/Produkt/Neu">
            <i class="material-icons">
                add
            </i>
        </button>
    </div>
    
    <mat-nav-list>
        <a mat-list-item routerLink="/Produkt/{{item.name}}" *ngFor="let item of productList | itemCategory:categories | itemSearch:searchText">
            <h4 matLine>{{item.name}}</h4>
            <p>{{item.price | number:'':'de-DE'}}€</p>
        </a>
    </mat-nav-list>
</div>