<div style="position: relative;">
    <div id="welcome-area-BG">
        <!--creates blurred things-->
    </div>
    <div id="welcome-area-text">
        <div *ngIf="!this.authenticationService.isLoggedIn()">
            <h1>Herzlich Willkommen</h1>
            <p>Sollten Sie zufällig noch Kleingeld übrig haben, dann sind Sie hier genau richtig.</p>
            <p>Denn hier werden Sie ihr Kleingeld los.</p>
            <p>Ob Kamel, Lamborghini, Yacht oder gar die Freiheitsstatue, hier finden Sie alles was ihr Herz begehrt.</p>
        </div>
        <div *ngIf="this.authenticationService.isLoggedIn()">
            <h1>Willkommen zurück, {{this.authenticationService.getUser()}}!</h1>
            <p>Haben Sie doch noch ein paar Millionen zwischen den Sofakissen gefunden?</p>
            <p>Egal ob es die dritte Residenz, die fünfte Yacht oder der zehnte Supersportwagen sein soll, wir sind für Sie da!</p>
        </div>
        
    </div>
</div>

<div id="btn-panel"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="5px">
  <div class="border-div" fxFlex="35%">
        <button *ngIf="!this.authenticationService.isLoggedIn()" routerLink="/Registrierung" class="function-btn" mat-stroked-button><p class="btn-text">Registrieren</p></button>
        <button *ngIf="this.authenticationService.isLoggedIn()" routerLink="/Bestellungen" class="function-btn" mat-stroked-button><p class="btn-text">Bestellhistorie</p></button>
  </div>
  <div class="border-div" fxFlex="35%">
        <button class="function-btn" routerLink="/Produkt/{{mainInfos.bestseller}}" mat-stroked-button><p class="btn-text">Topseller anzeigen</p></button>
  </div>
</div>
<mat-divider class="sec-divider"></mat-divider> <!-------------------------ICONS---------------------------->
<!--<div class="icon-panel"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="5px">
  
    <img
    class="icon"
    fxFlex="15%" 
    src="/assets/Umweltunfreundlich.svg" 
    alt="Umweltunfreundlich SVG"/>
    <div fxFlex="35%" class="iconText">
        <p class="icon-text-header">Umweltunfreundlich</p>
        <p class="icon-text-main">
            Dank unserer SchmutzMuss™ Technologie ist es uns möglich die Umweltverschmutzung möglichst schnell und effizient voranzutreiben.
            Kein Wald bleibt ungerodet, kein Fluss ohne Chemiemüll!
            
        </p>
    </div>
    <img
    class="icon"
    fxFlex="15%" 
    src="/assets/Unfair_Trade.svg" 
    alt="Umweltunfreundlich SVG"/>
    <div fxFlex="35%" class="iconText">
        <p class="icon-text-header">Unfair Trade</p>
        <p class="icon-text-main">
            Dank unseren Unfair Trade Spezialisten ist es uns möglich, an den Genfer Konventionen vorbei,
            unsere Arbeitssklaven zu knechten. Von Geburt an benutzen wir nur die schmerzensten Peitschen und
            zerbrechlisten Kinder! 
        </p>
    </div>
</div>
<div class="icon-panel"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="5px">
  
    <img
    class="icon"
    fxFlex="15%" 
    src="/assets/Umweltunfreundlich.svg" 
    alt="Umweltunfreundlich SVG"/>
    <div fxFlex="35%" class="iconText">
        <p class="icon-text-header">Einfache Retoure</p>
        <p class="icon-text-main">
            Gefällt ihnen das Produkt nicht? Kein Problem. Sie müssen ihr Geld nicht zurücknehmen!
        </p>
    </div>
    <img
    class="icon"
    fxFlex="15%" 
    src="/assets/Unfair_Trade.svg" 
    alt="Umweltunfreundlich SVG"/>
    <div fxFlex="35%" class="iconText">
        <p class="icon-text-header">Hochpreisgarantie</p>
        <p class="icon-text-main">
            Alle unsere Produkte sind garantiert teurer als bei der Konkurrenz.
            Sollten sie dennoch ein teureres Produkt finden, gleichen wir unseren Preis natürlich an und
            legen selbstverständlich noch 20% oben drauf!

        </p>
    </div>
</div>-->
<h1 id="section-title">Unsere Verprechen</h1>
<div class="icon-panelLeft"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0px">
  
    <img
    class="icon"
    fxFlex="30%" 
    src="/assets/Umweltunfreundlich_new.svg" 
    alt="Umweltunfreundlich SVG"/>
    <div fxFlex="70%" class="icon-text-left">
        <p class="icon-text-header">Umweltunfreundlich</p>
        <p class="icon-text-main">
            Dank unserer SchmutzMuss™ Technologie ist es uns möglich die Umweltverschmutzung möglichst schnell und effizient voranzutreiben.
            Kein Wald bleibt ungerodet, kein Fluss ohne Chemiemüll!
        </p>
    </div>
</div>
<div class="icon-panel"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0px">
    <div fxFlex="70%" fxFlexOrder.xs="1" class="icon-text-Right">
        <p class="icon-text-header">Unfair Trade</p>
        <p class="icon-text-main">
            Unsere Unfair Trade Spezialisten ist es uns möglich, an den Genfer Konventionen vorbei,
            unsere Arbeitssklaven zu knechten. Von Geburt an benutzen wir nur die schmerzensten Peitschen und
            zerbrechlisten Kinder!
        </p>
    </div>
    <img
    class="icon"
    fxFlex="30%" 
    src="/assets/Unfair_Trade_new.svg" 
    alt="Umweltunfreundlich SVG"/>
</div>
<div class="icon-panel"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0px">
  
    <img
    class="icon"
    fxFlex="30%" 
    src="/assets/Retoure.svg" 
    alt="Umweltunfreundlich SVG"/>
    <div fxFlex="70%" class="icon-text-left">
        <p class="icon-text-header">Einfache Retoure</p>
        <p class="icon-text-main">
            Gefällt ihnen das Produkt nicht? Kein Problem. Nachdem sie das Produkt zurückgebracht haben müssen
            sie das Geld nicht wieder mitnehmen!
        </p>
    </div>
</div>
<div class="icon-panel"
     fxLayout
     fxLayout.xs="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px"
     fxLayoutGap.xs="0px">

    <div fxFlex="70%" fxFlexOrder.xs="1" class="icon-text-Right">
        <p class="icon-text-header">Hochpreisgarantie</p>
        <p class="icon-text-main">
            Alle unsere Produkte sind garantiert teurer als bei der Konkurrenz.
            Sollten sie dennoch ein teureres Produkt finden, gleichen wir unseren Preis natürlich an und
            legen selbstverständlich noch 20% oben drauf!
        </p>
    </div>
    <img
    class="icon"
    fxFlex="30%" 
    src="/assets/coins.svg" 
    alt="Umweltunfreundlich SVG"/>
</div>
<mat-divider class="sec-divider"></mat-divider>
<div id="top-customer-list">
    <h1 id="section-title">Top Kunden</h1>
    <div id="top-customer-wrapper" *ngFor="let customer of mainInfos.topCustomerList; let i = index">
        <p id="top-customer-name">{{i+1}}. {{customer.firstName}} {{customer.lastName}}</p>
        <p id="top-customer-purchase">{{customer.totalPurchase | number:'':'de-DE'}}€</p>
        <mat-divider *ngIf="i < 4" class="customer-divider"></mat-divider>
    </div>
</div>
<mat-divider class="sec-divider"></mat-divider>