* {
    color:  rgb(211, 179, 75);
}

td {
    padding: 5px;
}

.mobile {
    display: none;
}

@media (max-width: 500px) {
    .desktop {
        display: none;
    }
    .mobile {
        display: block;
    }
}

#edit-button {
    display: flex;
    padding: 2px;
    float: right;
    background: rgb(25,25,25);
    border: 2px solid rgb(211, 179, 75);
    border-radius: 10px;
    cursor: pointer;
}

#edit-button:hover {
    background-color: rgb(41, 41, 41);
}

#edit-button > i {
    color: rgb(211, 179, 75);
}