* {
    color:  white;
}

#title {
    display: inline-block;
    margin: 0;
    background: linear-gradient(to bottom, #BF953F, #FCF6BA, #B38728, #FBF5B7); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Exo', sans-serif;
}

#title.mobile {
    display: none;
}

@media (max-width: 500px) {
    #title.desktop {
        display: none;
    }
    #title.mobile {
        display: inline-block;
    }
}

#header {
    margin: 10px 0 20px 0;
}

#edit-button {
    display: flex;
    padding: 2px;
    float: right;
    background: rgb(25,25,25);
    border: 2px solid rgb(211, 179, 75);
    border-radius: 10px;
    cursor: pointer;
}

#edit-button:hover {
    background-color: rgb(41, 41, 41);
}

#edit-button > i {
    color: rgb(211, 179, 75);
}

.infoWrapper {
    margin: 10px 0 10px 0;
}

.infoWrapper > div {
    display: inline-block;
}

.infoWrapper > div:first-child {
    padding-right: 10px;
    min-width: 115px;
}