<div class="content-wrapper">
    <div id="header">
        <h1 class="desktop" id="title">Kontoinformationen</h1>
        <h2 class="mobile" id="title">Kontoinformationen</h2>
        <button *ngIf="userId == 0 || userId == authService.getUserId()" id="edit-button" routerLink="/Konto/Bearbeiten">
            <i class="material-icons">
                edit
            </i>
        </button>
    </div>
    <div *ngIf="authService.hasEmployeeRights()" class="info-wrapper">
        <div>Id: </div>
        <div>{{currentUser.id}}</div>
    </div>
    <div class="info-wrapper">
        <div>Vorname: </div>
        <div>{{currentUser.firstName}}</div>
    </div>
    <div class="info-wrapper">
        <div>Nachname: </div>
        <div>{{currentUser.lastName}}</div>
    </div>
    <div class="info-wrapper">
        <div>E-Mail: </div>
        <div>{{currentUser.email}}</div>
    </div>
    <div class="info-wrapper">
        <div>Adresse: </div>
        <div>
            {{currentUser.street}}<br>
            {{currentUser.postalCode}}, {{currentUser.city}}<br>
            {{countryService.getCountryName(currentUser.country)}}
        </div>
    </div>
    <div class="info-wrapper">
        <div>Geburtsdatum: </div>
        <div>{{currentUser.birthDate}}</div>
    </div>
    <div class="info-wrapper">
        <div>Passwort: </div>
        <div>*****</div>
    </div>
    <div *ngIf="authService.hasAdminRights()">
        <div class="info-wrapper">
            <div>Rolle: </div>
            <mat-select id="role-select" placeholder="Rolle" name="role" [(ngModel)]="currentUser.role">
                <mat-option *ngFor="let role of roles" [value]="role">
                    {{role}}
                </mat-option>
            </mat-select>
        </div>
        <div id="reset-pw" class="border-div" *ngIf="currentUser.id != authService.getUserId() && showResetBtn">
            <button class="function-btn" (click)="resetPassword()" mat-stroked-button><p class="btn-text">Passwort zurücksetzen</p></button>
        </div>
        <div class="border-div" *ngIf="userRole != currentUser.role">
            <button class="function-btn" (click)="save()" mat-stroked-button><p class="btn-text">Speichern</p></button>
        </div>
    </div>
    
    
</div>