<div class="desktop">
    <h1>Kontoinformationen
        <button id="edit-button" routerLink="/Konto/Bearbeiten">
            <i class="material-icons">
                edit
            </i>
        </button>
    </h1>
    <table>
        <tr>
            <td>Vorname:</td>
            <td>{{currentUser.firstName}}</td>
        </tr>
        <tr>
            <td>Nachname:</td>
            <td>{{currentUser.lastName}}</td>
        </tr>
        <tr>
            <td>E-Mail:</td>
            <td>{{currentUser.email}}</td>
        </tr>
        <tr>
            <td>Geburtsdatum:</td>
            <td>{{currentUser.birthDate}}</td>
        </tr>
        <tr>
            <td>Passwort:</td>
            <td>*****</td>
        </tr>
    </table>
</div>
<div class="mobile">
    <h3>Kontoinformationen
        <button id="edit-button" routerLink="/Konto/Bearbeiten">
            <i class="material-icons">
                edit
            </i>
        </button>
    </h3>
    <p>Vorname:<br>{{currentUser.firstName}}</p>
    <p>Nachname:<br>{{currentUser.lastName}}</p>
    <p>E-Mail:<br>{{currentUser.email}}</p>
    <p>Geburtsdatum:<br>{{currentUser.birthDate}}</p>
    <p>Passwort:<br>*****</p>
</div>